In [4]:
!echo 'start,end,examples,accuracy' > data/results/exp5/accuracies.csv

In [5]:
!cat data/results/exp5/exp5*.csv >> data/results/exp5/accuracies.csv

In [6]:
!cat data/results/exp5/accuracies.csv

start,end,examples,accuracy
0,100,100,0.96
1000,1100,100,0.93
100,200,100,0.9
1100,1200,100,0.91
1200,1300,100,0.92
1300,1400,100,0.91
2000,2100,100,0.95
4000,4100,100,0.94

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('data/results/exp5/accuracies.csv')

In [9]:
df

   start   end  examples  accuracy
0      0   100       100      0.96
1   1000  1100       100      0.93
2    100   200       100      0.90
3   1100  1200       100      0.91
4   1200  1300       100      0.92
5   1300  1400       100      0.91
6   2000  2100       100      0.95
7   4000  4100       100      0.94

In [10]:
df = df.sort_values(by='start')
df

   start   end  examples  accuracy
0      0   100       100      0.96
2    100   200       100      0.90
1   1000  1100       100      0.93
3   1100  1200       100      0.91
4   1200  1300       100      0.92
5   1300  1400       100      0.91
6   2000  2100       100      0.95
7   4000  4100       100      0.94

In [11]:
df['examples_cumsum'] = df['examples'].cumsum()
df

   start   end  examples  accuracy  examples_cumsum
0      0   100       100      0.96              100
2    100   200       100      0.90              200
1   1000  1100       100      0.93              300
3   1100  1200       100      0.91              400
4   1200  1300       100      0.92              500
5   1300  1400       100      0.91              600
6   2000  2100       100      0.95              700
7   4000  4100       100      0.94              800

In [12]:
df['correct_examples'] = df['examples'] * df['accuracy']
df

   start   end  examples  accuracy  examples_cumsum  correct_examples
0      0   100       100      0.96              100              96.0
2    100   200       100      0.90              200              90.0
1   1000  1100       100      0.93              300              93.0
3   1100  1200       100      0.91              400              91.0
4   1200  1300       100      0.92              500              92.0
5   1300  1400       100      0.91              600              91.0
6   2000  2100       100      0.95              700              95.0
7   4000  4100       100      0.94              800              94.0

In [13]:
df['correct_examples_cumsum'] = df['correct_examples'].cumsum()
df

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
0,0,100,100,0.96,100,96.0,96.0
2,100,200,100,0.90,200,90.0,186.0
1,1000,1100,100,0.93,300,93.0,279.0
3,1100,1200,100,0.91,400,91.0,370.0
4,1200,1300,100,0.92,500,92.0,462.0
5,1300,1400,100,0.91,600,91.0,553.0
6,2000,2100,100,0.95,700,95.0,648.0
7,4000,4100,100,0.94,800,94.0,742.0

In [14]:
df['accuracy'] = df['correct_examples_cumsum'] / df['examples_cumsum']
df

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
0,0,100,100,0.960000,100,96.0,96.0
2,100,200,100,0.930000,200,90.0,186.0
1,1000,1100,100,0.930000,300,93.0,279.0
3,1100,1200,100,0.925000,400,91.0,370.0
4,1200,1300,100,0.924000,500,92.0,462.0
5,1300,1400,100,0.921667,600,91.0,553.0
6,2000,2100,100,0.925714,700,95.0,648.0
7,4000,4100,100,0.927500,800,94.0,742.0

In [17]:
accuracy = df.iloc[-1]['accuracy']
accuracy

0.9275