In [36]:
import pandas as pd

!echo 'start,end,examples,accuracy' > data/results/exp5/accuracies.csv

!cat data/results/exp5/exp5*.csv >> data/results/exp5/accuracies.csv

df = pd.read_csv('data/results/exp5/accuracies.csv')
df = df.sort_values(by='start')
df['examples_cumsum'] = df['examples'].cumsum()
df['correct_examples'] = df['examples'] * df['accuracy']
df['correct_examples_cumsum'] = df['correct_examples'].cumsum()
df['accuracy'] = df['correct_examples_cumsum'] / df['examples_cumsum']
df.tail()

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
40,4500,4600,100,0.918913,4600,90.0,4227.0
41,4600,4700,100,0.918511,4700,90.0,4317.0
42,4700,4800,100,0.918333,4800,91.0,4408.0
43,4800,4900,100,0.918980,4900,95.0,4503.0
44,4900,5000,100,0.919000,5000,92.0,4595.0

In [37]:
accuracy = df.iloc[-1]['accuracy']
accuracy

0.919