In [2]:
import pandas as pd

#!echo 'start,end,examples,accuracy' > data/results/exp5/accuracies.csv

#!cat data/results/exp5/exp5*.csv >> data/results/exp5/accuracies.csv

df = pd.read_csv('data/results/exp5/accuracies.csv')
df = df.sort_values(by='start')
df['examples_cumsum'] = df['examples'].cumsum()
df['correct_examples'] = df['examples'] * df['accuracy']
df['correct_examples_cumsum'] = df['correct_examples'].cumsum()
df['accuracy'] = df['correct_examples_cumsum'] / df['examples_cumsum']
df.tail()

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
40,4500,4600,100,0.918913,4600,90.0,4227.0
41,4600,4700,100,0.918511,4700,90.0,4317.0
42,4700,4800,100,0.918333,4800,91.0,4408.0
43,4800,4900,100,0.918980,4900,95.0,4503.0
44,4900,5000,100,0.919000,5000,92.0,4595.0

In [3]:
accuracy = df.iloc[-1]['accuracy']
accuracy

0.919

In [4]:
df = pd.read_csv('data/results/exp6/test/accuracies.csv')
df = df.sort_values(by='start')
df['examples_cumsum'] = df['examples'].cumsum()
df['correct_examples'] = df['examples'] * df['accuracy']
df['correct_examples_cumsum'] = df['correct_examples'].cumsum()
df['accuracy'] = df['correct_examples_cumsum'] / df['examples_cumsum']
df.tail()

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
20,7000,7100,100,0.764762,2100,73.000000,1606.000000
21,7100,7200,100,0.759545,2200,65.000000,1671.000000
22,7200,7300,100,0.757826,2300,72.000000,1743.000000
23,7300,7400,100,0.755833,2400,71.000000,1814.000000
24,7400,7500,100,0.752997,2500,68.493151,1882.493151

In [5]:
accuracy = df.iloc[-1]['accuracy']
accuracy

0.7529972602739726

In [6]:
df = pd.read_csv('data/results/exp6/train/accuracies.csv')
df = df.sort_values(by='start')
df['examples_cumsum'] = df['examples'].cumsum()
df['correct_examples'] = df['examples'] * df['accuracy']
df['correct_examples_cumsum'] = df['correct_examples'].cumsum()
df['accuracy'] = df['correct_examples_cumsum'] / df['examples_cumsum']
df.tail()

,start,end,examples,accuracy,examples_cumsum,correct_examples,correct_examples_cumsum
440,4950,4960,10,0.889718,4960,9.0,4413.0
441,4960,4970,10,0.889537,4970,8.0,4421.0
442,4970,4980,10,0.889357,4980,8.0,4429.0
443,4980,4990,10,0.889579,4990,10.0,4439.0
444,4990,5000,10,0.889600,5000,9.0,4448.0

In [7]:
accuracy = df.iloc[-1]['accuracy']
accuracy

0.8896